
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TFPMapping</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    {% block home%}
    {% endblock %}
    {% block loginForm %}
    {% endblock %}
    {% comment %} {% block form %}
    {% endblock %} {% endcomment %}
    {% block content %}
    {% endblock %}

    <style>
        h1 {
            color: rgb(9, 18, 22);
        }
        
        body {
            margin: 0 auto;
            text-align: center;
            background: rgb(202, 202, 202);
        }
        
    </style>
</body>
</html>